.component-box {
  padding: 10px;
  margin: 5px;
  display: inline-table;
}

  .component-box h2 {
    font-size: 20px;
    margin: 0px;
  }

  .component-box h3 {
    font-size: 16px;
    margin: 0px;
  }

  .component-box h4 {
    font-size: 16px;
    margin: 0px;
  }

  .component-box ul {
    list-style-type: none;
    margin: 5px;
    padding-left: 0px;
  }

.component-border {
  border-radius: 2px;
  border: 1px solid #000;
}

.inline-table {
  display: inline-table;
}
