.component-box {
  border-radius: 2px;
  border: 2px solid #000;
  padding: 10px;
  margin: 10px;
}

  .component-box h2 {
    font-size: 20px;
    margin: 0px;
  }

  .component-box h3 {
    font-size: 16px;
    margin: 0px;
  }

  .component-box ul {
    list-style-type: none;
    margin: 10px;
    padding-left: 0px;
  }
