<template name="sample">
  <div id="{{../sample_label}}" class="component-box component-border">
    <h3>{{../sample_label}}</h3>
    <ul>
      {{#if site_of_metastasis}} <li>Site of metastasis: {{site_of_metastasis}}</li> {{/if}}
      {{#if procedure_day}} <li>Procedure day: {{procedure_day}}</li> {{/if}}

      {{#if signature_types}}
        {{#each signature_types}}
          <li>{{> signatureType this}}</li>
        {{/each}}
      {{else}}
        <li>There are no signatures associated with this sample</li>
      {{/if}}
    </ul>
  </div>
</template>

<template name="signatureType">
  <div class="component-box component-border">
    <h3>{{signature_type_label}}</h3>
    {{#each signature_algorithms}}
      {{#each individual_signatures}}
        <li>{{> signatureReport this}}</li>
      {{/each}}
    {{/each}}
  </div>
</template>

<template name="signatureReport">
  <div class="component-box component-border">
    <h4>{{../description}}</h4>
    {{> signatureWaterfall this}}
  </div>
</template>

<template name="signatureWaterfall">
  <div id="{{../current_sample_label}}-{{../../signature_label}}">
    <!-- d3 will attach here -->
  </div>
</template>
