<template name="sample">
  <div id="{{../sample_label}}" class="component-box component-border">
    <h3>{{../sample_label}}</h3>
    <ul>
      {{#if ../site_of_metastasis}} <li>Site of metastasis: {{../site_of_metastasis}}</li> {{/if}}
      {{#if ../procedure_day}} <li>Procedure day: {{../procedure_day}}</li> {{/if}}
      {{#if ../signature_types}}
        <li>
          {{#each ../signature_types}}
            {{> signatureType this}}
          {{/each}}
        </li>
      {{else}}
        <li>There are no signatures associated with this sample</li>
      {{/if}}
    </ul>
  </div>


</template>

<template name="signatureType">
  <div class="component-box component-border">
    <h4>{{description}}</h4>
    <ul>
      {{#each ../signature_algorithms}}
        <li>{{> signatureAlgorithm this}}</li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="signatureAlgorithm">
  <div class="component-box component-border">
    <h4>{{../signature_algorithm_label}}</h4>
    <ul>
      {{#each ../individual_signatures}}
        <li>{{> individualSignature this}}</li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="individualSignature">
  <div class="component-box component-border">
    <h4>{{../description}}</h4>
    <!-- <img src="/images/sample_waterfall_plot.png" alt="This is a placeholder!" height="100"/> -->
    {{> signatureWaterfall this}}
  </div>
</template>

<template name="signatureWaterfall">
  <div id="{{../current_sample_label}}-{{../../signature_label}}">
    <!-- d3 will attach here -->
  </div>
</template>
