.circle-map svg {
    font-family: Verdana;
    background-color: #FFF;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
  .circle-map svg:not(.active):not(.ctrl) {
      cursor: crosshair;
  }
  .circle-map svg:not(.active):not(.ctrl) path.link {
      cursor: pointer;
  }
  .circle-map .node not(.circleMapG) {
      stroke:#fff;
      stroke-width:1.5px;
  }
  .circle-map .node .circleMapSvg {
      overflow: visible
  }
  .circle-map .node text {
      stroke: darkslategrey;
      fill: darkslategrey;
  }
  .circle-map .link {
      stroke: black;
      stroke-opacity: .6;
  }
