body {
  margin: 0px;
}

/*svg .anchor-middle {
  text-anchor: middle;
}*/

.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.boxplot line {
  fill: none;
  stroke: #F00;
  stroke-width: 3;
  shape-rendering: crispEdges;
}

.boxplot .inside-threshold {
  fill: #AAA;
  stroke: #AAA;
}

.boxplot .outside-threshold {
  fill: #00F;
  stroke: #00F;
}
